{% load static %}
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>Geburt erfassen</title>
</head>

<body>
    <h1>Personendaten erfassen</h1>
    <form method="post">
        {% csrf_token %}

        {% if not request.session.id_mutter %}
            <!-- Diese Button wird eingeblendet, wenn keine "id_mutter" in der Session gespeichert ist -->
            <p>Bitte scannen Sie zuerst die RFID-Karte der Mutter:</p>
            <button type="submit" name="scan_mutter">RFID-Karte der Mutter scannen</button>

        {% elif not request.session.id_vater %}
            <!-- Wenn eine "id_mutter" in der Session gespeichert ist, wird dieser Button eingeblendet -->
            <p>Bitte scannen Sie als nächstes die RFID-Karte des Vaters:</p>
            <button type="submit" name="scan_vater">RFID-Karte des Vaters scannen</button>

        {% else %}
            <!-- Eine Formular für die Geburt wird erst dann eingeblendet, wenn sowohl "id_mutter", als auch "id_vater" in der Session stehen! -->
            <div class="arztformular">
                <label for="nachname">Nachname:</label>
                <input type="text" id="nachname_geburt" name="nachname_geburt" required>
            </div>

            <div class="arztformular">
                <label for="vorname">Vorname:</label>
                <input type="text" id="vorname" name="vorname" required>
            </div>

            <div class="arztformular">
                <label for="geburtsdatum">Geburtsdatum:</label>
                <input type="date" id="geburtsdatum" name="geburtsdatum" required>
            </div>

            <button type="submit" name="geburt">Geburt registrieren</button>
        {% endif %}
    </form>
</body>
</html>
