{% load static %}
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>Tod erfassen</title>
</head>

<body>
    <h1>Personendaten erfassen</h1>
    <form method="post">
        {% csrf_token %}

        <div class="arztformular">
            <label for="sterbedatum">Sterbedatum:</label>
            <input type="date" id="sterbedatum" name="sterbedatum" required>
        </div>

        <button type="submit">Tod bestätigen.</button>
    </form>
</body>
</html>

