body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    }

h1 {
    font-size: 2.5em;
    color: #45a049;
    margin-bottom: 30px;
    }

h2 {
    font-size: 1.8em;
    color: #45a049;
    margin-top: 20px;
    margin-bottom: 15px;
    }   

/* 
.arztformular {
    margin-bottom: 15px;
    } */

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    }

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    }

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

button:hover {
    background-color: #45a049;
    }